/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-image: url('car_reservation_background.jpg'); Background image for car reservation */
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for container */
}

.form {
  margin-top: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue button color */
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

p {
  margin-top: 15px;
  text-align: center;
}

a {
  color: #007bff; /* Blue link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Underline link on hover */
}

/* Logo styles */
.logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* Responsive styles */
@media (max-width: 430px) {
  .container {
    max-width: 350px;
  }
}
