body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f6fc;
  position: relative;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.7);
}

.form {
  margin-top: 30px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.form-control input {
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

.form-control input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* Responsive styles */
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

.background {
  position: fixed;
  top: 50%; /* Adjust the vertical position */
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/1f/44/3d/1f443dcf69acb29cd3b1d31d4826d303.jpg'); /* Replace the URL with your new image */
  background-size: contain; /* Adjust to 'cover' or 'contain' as needed */
  background-position: center; /* Adjust the position */
  z-index: -1;
}


