.container-profilepg {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 50px;
}

.user-profile-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 140px;
    width: 600px;
}

.user-info-container {
    margin-right: 20px;
}

.user-info h2 {
    margin-bottom: 20px;
    text-align: center;
}

.user-info h3 {
    font-size: 20px;
    color: #333;
}

.user-info h3 a {
    color: #007BFF;
    text-decoration: none;
}

.user-info h3 a:hover {
    color: #aeb2b6;
}

.user-info-container,
.booking-history-container,
.favourite-cars-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
}

.user-info-box {
    padding: 30px;
    background-color: #f2f2f2; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.user-icon {
    margin-right: 20px;
}

.user-icon img {
    border-radius: 50%;
}

.user-details {
    flex-grow: 1;
}

.user-details h2 {
    margin-bottom: 20px;
    text-align: center;
}

.user-details h3 {
    font-size: 20px;
    color: #333;
}

.user-details h3 a {
    color: #007BFF;
    text-decoration: none;
}

.user-details h3 a:hover {
    color: #aeb2b6;
}

.user-info-container,
.booking-history-container,
.favourite-cars-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
}

.content-container{
    margin-top: 30px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content-box {
    padding: 30px;
    background-color: #f2f2f2;
    border: 5px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 600px;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourite-cars-container {
    flex-grow: 2; 
    display: flex;
    flex-direction: column;
    height: 500px; 
    overflow-y: auto; 
}

.favourite-cars {
    align-items: flex-start; 
    justify-content: flex-start; 
    overflow-y: auto; 
}

.booking-history-container {
    flex-grow: 2; 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    height: 500px;
}


.booking-history {
    align-items: center;
    justify-content: center;
}

.car {
    padding: 15px;
    border-bottom: 3px solid #ccc;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 300px;
}

.car img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px; 
}

.booking {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center; 
}

.booking img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-btn {
    background-color: #f44336;
}

.cancel-btn:hover {
    background-color: #d32f2f;
}

.booking-link {
    text-decoration: none;
    color: inherit;
}

.booking-link:hover {
    text-decoration: none;
}


.box {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}
.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.tab {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 10px ;
    cursor: pointer;
    margin-bottom: 10px;
}
.tab.active {
    background-color: #e0e0e0;
}
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
}
.tab-content.active {
    display: block;
}
.tab-left {
    order: 1;
}
.tab-right {
    order: 3;
}

/* Responsive styles */
@media (max-width: 600px) {
    .booking {
        flex-direction: column;
    }

    .booking img {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
