/* availablecar.css */

.availablecar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.car-card img {
    margin-bottom: 10px;
}

.car-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.car-card p {
    margin-bottom: 10px;
}

.car-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.car-card button:hover {
    background-color: #0056b3;
}
