<!DOCTYPE html>
<html>
<head>
    <title>Available Cars</title>
</head>
<body>
    <h2>Available Cars</h2>
    {% if cars %}
        <ul>
            {% for car in cars %}
                <img src="{{ car.image.url }}" alt="{{ car.make }} {{ car.model }}" width="200" height="150">
                <li>
                    {{ car.make }} - {{ car.model }} | Hourly Rate: ${{ car.hourly_rate }} | Total Price: ${{ car.total_price }}
                </li>
                <p>{{ car.availability }}</p>
                <a href="{% url 'bookings' car.id %}"><button type="button">Book</button></a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No cars available for the selected pickup date and location.</p>
    {% endif %}
</body>
</html>
