<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Cars</title>
    <link rel="stylesheet" href="a.css">
</head>
<body>
  <header>
<div class="slider">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
       <!-- <img src="https://source.unsplash.com/random/200x150" class="d-block w-100" alt="..."> -->
      </div>
  </div>
</div>
<h1>for you</h1>
</header>

    <h1>Available Cars</h1>
    <div class="car-container">
        <div class="car-card">
          <img src="https://source.unsplash.com/random/200x150" alt="Car Image" />
            <h2>Car Model 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Cost per hour: Rs.10</p>
            <button class="book-button">Book this car</button>
        </div>
        <div class="car-card">
          <img src="https://source.unsplash.com/random/200x150" alt="Car Image" />
            <h2>Car Model 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Cost per hour: Rs.10</p>
            <button class="book-button">Book this car</button>
        </div>
        <div class="car-card">
          <img src="https://source.unsplash.com/random/200x150" alt="Car Image" />
            <h2>Car Model 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Cost per hour: Rs.10</p>
            <button class="book-button">Book this car</button>
        </div>
        <div class="car-card">
          <img src="https://source.unsplash.com/random/200x150" alt="Car Image" />
            <h2>Car Model 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Cost per hour: Rs.10</p>
            <button class="book-button">Book this car</button>
        </div>
    </div>
    <script src="a.js"></script>
</body>
</html>
