{% load static %}
<!DOCTYPE html>
<html>

<head>
  
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{% static 'nav.css' %}"">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
</head>
<body>

  <!-- Navigation Bar -->
  <nav class="navbar">
    <div class="logo"><a href="{% url 'home' %}" class="logo" style="text-decoration: none; display: inline-block;">Vroom</a>
    </div>
    <div class="navbar-links">
        <a href="{%url 'home'%}">Home</a>
        <a href="{%url 'available_cars'%}">Cars</a>
        <a href="{%url 'about'%}">About</a>
        <a href="{%url 'contact'%}">Contact</a>
    </div>
    <div class="search">
      <form method="GET" action="{% url 'search' %}">
        <input type="text" placeholder="Search.." name="q" value="{{ query }}">
        <input type="submit" value="Search">
    </form>
    </div>
    {% if user.is_authenticated %}
        <div class="user-dropdown">
            <button class="dropbtn" id="dropdownButton">
                <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="User">
            </button>
            <div class="dropdown-content" id="dropdownContent">
                <a href="{% url 'view_bookings' %}">Profile</a>
                <a href="{%url 'faq'%}">Help</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %} 
        <a href="{% url 'login' %}" class="login-button">Login</a>
    {% endif %}
</nav>
  


  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>VROOM</h3>
        <p>"Welcome to Vroom Car Rental, where every journey begins with convenience, comfort, and confidence. With our
          wide selection of vehicles and seamless booking experience, we're here to make your travel dreams a reality.
          Drive with us and experience the thrill of the open road, wherever it may take you."</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="{%url 'about'%}">About</a></li>
          <li><a href="{%url 'available_cars'%}">Cars</a></li>
          <li><a href="{%url 'contact'%}">Contact</a></li>
          <li><a href="{%url 'faq'%}">Help</a>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contact Us</h3>
        <ul>
          <li>Email: info@example.com</li>
          <li>Phone: +1234567890</li>
          <li>Address: 123 Street, City, Country</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Vroom Car Rental | All Rights Reserved
    </div>
  </footer>

  <script src="{% static 'nav.js' %}"></script>
  <script src="{% static 'search.js' %}"></script>

  </body>

</html>