{% load static %}
<!DOCTYPE html>
<html>

<head>
  
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{% static 'nav.css' %}"">
</head>
<body>

  <!-- Navigation Bar -->
  <nav class="navbar">
    <div class="logo">Vroom</div>
    <div class="navbar-links">
        <a href="{%url 'home'%}">Home</a>
        <a href="{%url 'available_cars'%}">Cars</a>
        <a href="{%url 'about'%}">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="search">
        <input type="text" placeholder="Search..">
    </div>
    {% if user.is_authenticated %}
        <div class="user-dropdown">
            <button class="dropbtn" id="dropdownButton">
                <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="User">
            </button>
            <div class="dropdown-content" id="dropdownContent">
                <a href="{% url 'view_bookings' %}">Profile</a>
                <a href="{%url 'faq'%}">Help</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %} 
        <a href="{% url 'login' %}" class="login-button">Login</a>
    {% endif %}
</nav>
  


  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>VROOM</h3>
        <p>"Welcome to Vroom Car Rental, where every journey begins with convenience, comfort, and confidence. With our
          wide selection of vehicles and seamless booking experience, we're here to make your travel dreams a reality.
          Drive with us and experience the thrill of the open road, wherever it may take you."</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Term and Conditions</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contact Us</h3>
        <ul>
          <li>Email: info@example.com</li>
          <li>Phone: +1234567890</li>
          <li>Address: 123 Street, City, Country</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Vroom Car Rental | All Rights Reserved
    </div>
  </footer>

  <script src="{% static 'nav.js' %}"></script>
  <script src="{% static 'search.js' %}"></script>

  </body>

</html>