{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Booking</title>
    <link rel="stylesheet" href="{% static 'b.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Booking</h1>
    <div class="content-container">
        <div class="car-container">
            <div class="car">
                <img src="https://source.unsplash.com/random/200x150" alt="Car Image">
                <div class="specifications">
                    <h3>Specifications</h3>
                    <ul>
                        <li>Transmission: Automatic</li>
                        <li>Doors: 4</li>
                        <li>Air Conditioning: Yes</li>
                        <li>Seating Capacity: 5</li>
                        <li>Cost: XX /hr, XXX/day, XXXX /week</li> <!-- Cost added here -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="booking-info-container">
            <h2>Booking Info</h2>
            <div class="booking-info">
                <form method="post">
                    {% csrf_token %}
                    <p class="input-label" >Pick Up Location</p>
                    <select name="{{ form.location.name }}" id="id_location" class="location-dropdown">
                      <option value="Kathmandu">Kathmandu</option>
                      <option value="Pokhara">Pokhara</option>
                    </select>
                    <p class="input-label">Pick Up Date</p>
                    <input type="text" name="{{ form.pickup_datetime.name }}" required="" id="id_pickup_datetime" class="date-input flatpickr">
                
                    <p class="input-label">Drop Off Date</p>
                    <input type="text" name="{{ form.dropoff_datetime.name }}" required="" id="id_dropoff_datetime" class="date-input flatpickr">
                
                    <script>
                        flatpickr(".flatpickr", {
                            enableTime: true,
                            dateFormat: "Y-m-d H:i",
                        });
                    </script>
                
                    <button type="submit">Rent a Car now</button>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>
