{% extends "base.html" %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Car Rental Booking</title>
<link rel="stylesheet" href="{% static 'booking.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'popup.css' %}">
<link rel="stylesheet" href="{% static 'alert.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k79vwqGsfqMVcSurYfZu6J362uvF0owHoaVAUkE/DunR0lCjxZKDtdRn2U6U6JUkyD/rEaUB8JpB5wDtmSgA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<h1>Booking</h1>
{% if message %}
<div class="errorMessage" style="color: red;">
    <p>{{ message }}</p>
</div>
{% endif %}

{% if car %}
<div class="car-container">
    <div class="car-img">
        <img src="{{ car.image.url }}" alt="Car Image">
    </div>
    <div class="specifications-container">
        <!-- Fav button -->
        <button class="favourite-button" data-car-id="{{ car.id }}"></button>

        <p class="model">{{ car.model }}</p>
        <p class="type">Category : <strong>{{ car.type }}</strong></p>
        <h2>Specifications</h2>
        {% comment %} <div class="specifications-info-container">
            <p><img src="{% static 'icon/speed.png' %}" alt="milage of the image"> Mileage: {{ car.mileage }} kilometers
                per liter</p>
            <p><img src="{% static 'icon/transmission.png' %}" alt="transmission of the image"> Transmission: {{
                car.transmission }}</p>
            <p><img src="{% static 'icon/seat.png' %}" alt="seat of the image"> Seats: {{ car.seats }}</p>
            <p><img src="{% static 'icon/luggage.png' %}" alt="luggagee of the image"> Luggage: {{ car.luggage }}</p>
            <p><img src="{% static 'icon/fuel.png' %}" alt="fuel of the image"> Fuel: {{ car.fuel }}</p>
        </div> {% endcomment %}

        <div class="specifications-info-container">
            <div class="row">
                <div class="specify">
                    <img src="{% static 'icon/speed.png' %}" alt="milage of the image">
                    <div>
                        <p style="font-weight:bold;">Mileage</p>
                        <p>{{ car.mileage }} Km</p>
                    </div>
                </div>
                <div class="specify">
                    <img src="{% static 'icon/transmission.png' %}" alt="transmission of the image">
                    <div>
                        <p style="font-weight:bold;">Transmission</p>
                        <p>{{ car.transmission }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="specify">
                    <img src="{% static 'icon/seat.png' %}" alt="seat of the image">
                    <div>
                        <p style="font-weight:bold;">Seats</p>
                        <p>{{car.seats }} </p>
                    </div>
                </div>
                <div class="specify">
                    <img src="{% static 'icon/luggage.png' %}" alt="luggagee of the image">
                    <div>
                        <p style="font-weight:bold;">Luggage</p>
                        <p>{{ car.luggage }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" specify">
                    <img src="{% static 'icon/fuel.png' %}" alt="fuel of the image">
                    <div>
                        <p style="font-weight:bold;">Fuel</p>
                        <p>{{car.fuel }} </p>
                    </div>
                </div>
            </div>
        </div>

        <p class="cost">Cost: {{ car.hourly_rate }} /hr</p> <!-- Cost added here -->
    </div>

    <div class="booking-container">
        <h2>Booking Info</h2>
        <!-- Add this div for the error message -->
        <div class="errorMessage" style="color: red;"></div>
        <form method="post" id="carForm">
            {% csrf_token %}
            <p class="input-label" hidden>Pick Up Location</p>
            <select name="{{ form.location.name }}" id="id_location" class="location-dropdown" hidden>
                <option value="Kathmandu">Kathmandu</option>
                <option value="Pokhara">Pokhara</option>
            </select>
            <p class="input-label">Pick Up Date</p>
            <input type="text" name="{{ form.pickup_datetime.name }}" required="" id="id_pickup_datetime"
                class="date-input flatpickr">

            <p class="input-label">Drop Off Date</p>
            <input type="text" name="{{ form.dropoff_datetime.name }}" required="" id="id_dropoff_datetime"
                class="date-input flatpickr">

            <p class="input-label">Estimated Pricing : </p>
            <input type="text" readonly id="estimated_price">
            <br>
            <!-- <button type="submit" id="rent-btn">Rent a Car now</button> -->
            {% if isbooked or car.availability == 'unavailable' or car.availability == 'maintenance' %}
            <button type="submit" id="rent-btn" disabled style="cursor: not-allowed;">Unavailable</button>
            {% elif not id_verification_status %}
            <p style="color: red;">Please verify yourself before booking.</p>
            <button><a href="{% url 'view_bookings' %}"
                    style="color: #fff; background-color: #007bff; padding: 10px 10px; text-decoration: none; border-radius: 5px;">Verfiy</a></button>
            {% else %}
            <button type="submit" id="rent-btn">Book Now</button>
            {% endif %}
        </form>

        <input type="hidden" id="hourly-rate" value="{{ car.hourly_rate }}">

    </div>

</div>
{% endif %}

<!-- Terms and Conditions -->
<div id="termsModal" class="modal">
    <div class="modal-content">
        <h2>Terms and Conditions</h2>
        <div class="terms-conditions">
            <iframe src="{% static 'terms.html' %}" frameborder="0"></iframe>
        </div>
        <button id="agreeButton" action>I Agree</button>
        <button id="disagreeButton">I Disagree</button>
    </div>
</div>

<h2>Customer Reviews</h2>
{% for review in reviews %}
{% if review.approved %}
<div class="review-card">
    <p class="review-content">{{ review.content }}</p>
    <div class="review-stars">
        {% for i in "12345"|make_list %}
        {% if i|add:0 <= review.rating %} <span class="fa fa-star checked"></span>
            {% else %}
            <span class="fa fa-star"></span>
            {% endif %}
            {% endfor %}
    </div>
    <p class="review-user">Written by: {{ review.user }}</p>
    <p class="review-date">Date: {{ review.updated_at|date:"F j, Y" }}</p>
</div>
{% endif %}
{% empty %}
<p>No reviews available.</p>
{% endfor %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
<script src="{% static 'booking.js' %}"></script>
<!-- <script src="{% static 'alert.js' %}"></script> -->


<script>
    function updateButtonStatus(button, carId) {
        var url = "{% url 'check_favourite' %}";
        $.ajax({
            url: url,
            data: {
                'car_id': carId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.favourited) {
                    button.text('Remove from Favourites');
                } else {
                    button.text('Add to Favourites');
                }
            }
        });
    }

    $(document).ready(function () {
        $('.favourite-button').each(function () {
            var button = $(this);
            var carId = button.data('car-id');
            updateButtonStatus(button, carId);
        });

        $('.favourite-button').click(function () {
            var carId = $(this).data('car-id');
            var url = "{% url 'toggle_favourite' %}";
            var button = $(this);  // Store the button in a variable

            $.ajax({
                url: url,
                data: {
                    'car_id': carId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.favourited) {
                        button.text('Remove from Favourites');
                    } else {
                        button.text('Add to Favourites');
                    }
                }
            });
        });
    });

</script>


{% endblock %}