{% extends "base.html" %}
{% load static %}


{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Contact Us</title>
{% endblock %}

{% block content %}
<style>
    .contact-container {
        background: linear-gradient(to bottom right, #007bff, #ffffff);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .contact-form {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 600px;
    }

    .contact-form h2 {
        text-align: center;
        color: #333;
    }

    .contact-form form {
        display: flex;
        flex-direction: column;
    }

    .contact-form label {
        margin-bottom: 10px;
        color: #333;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact-form button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact-form button:hover {
        background-color: #0056b3;
    }
    @media screen and (max-width: 430px) {
    .contact-form {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 35px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 75%;
        max-width: 655px;
    }
}
</style>

<body>
    <div class="contact-container">
        <div class="contact-form">
            <h2>Contact Us</h2>
            {% if success %}
            <p>Message sent successfully</p>
            {% endif %}
            {% if errors %}
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>

            {% endif %}

            <form action="#" method="POST">
                {% csrf_token %}
                <label for="id_title">Title:</label>
                <input type="text" id="id_title" name="title" required>
                <label for="id_email">Email:</label>
                <input type="email" id="id_email" name="email" required>
                <label for="id_message">Message:</label>
                <textarea id="id_message" name="message" rows="5" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>
{% endblock %}