{% extends "base.html" %}
{% load static %}


{% block head %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'faq.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k79vwqGsfqMVcSurYfZu6J362uvF0owHoaVAUkE/DunR0lCjxZKDtdRn2U6U6JUkyD/rEaUB8JpB5wDtmSgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  
  <title>Vroom Car Rental</title>
{% endblock %}

{% block content %}
  
    
    <main>
      <div class="faqheader">
        <h1>Frequently Asked Questions</h1>
    </div>
      <div class="faq-container">
        <div class="faq-item">
          <button class="accordion">What is the rental car price in Nepal?</button>
          <div class="panel">
            <p>You can hire a vehicle in Kathmandu for half a day and a full day at the starting price of Rs. 4000 and Rs. 6000 respectively.</p>
          </div>
        </div>
  
        <div class="faq-item">
          <button class="accordion">How can you rent a car?</button>
          <div class="panel">
            <p>You can rent a vehicle in Kathmandu and Pokhara Nepal at Vroom rental via call at 01-59789765 / 9881001424.</p>
          </div>
        </div>
        
        <div class="faq-item">
          <button class="accordion">What types of cars do you offer for rental?</button>
          <div class="panel">
              <p>We offer sedan, sports, SUV, EV, and MPV cars for rental.</p>
          </div>
      </div>
  
      <div class="faq-item">
          <button class="accordion">Where are your cars available?</button>
          <div class="panel">
              <p>Our cars are available in Kathmandu and Pokhara, Nepal.</p>
          </div>
      </div>

      <div class="faq-item">
        <button class="accordion">What is the minimum booking time?</button>
        <div class="panel">
            <p>The minimum booking time is 5 hours.</p>
        </div>
      </div>

      <div class="faq-item">
          <button class="accordion">Do you provide driver services?</button>
          <div class="panel">
              <p>Yes, driver services are available upon request.</p>
          </div>
      </div>
  
      <div class="faq-item">
        <button class="accordion">What payment methods do you accept?</button>
        <div class="panel">
          <p>We accept various payment methods including credit/debit cards esewa, khalti, hand cash, and bank transfers.</p>
        </div>
      </div>
      
      <div class="faq-item">
        <button class="accordion">Is there an age requirement to rent a car?</button>
        <div class="panel">
          <p>Yes, the minimum age requirement to rent a car is typically 21 years old, but it may vary depending on the rental location and car type. Additional fees or restrictions may apply to drivers under 25 years old.</p>
        </div>
      </div>
      
      <div class="faq-item">
        <button class="accordion">Can I modify or cancel my reservation?</button>
        <div class="panel">
          <p>Yes, you can usually modify or cancel your reservation, but there may be fees associated with changes depending on the timing and terms of your booking. We recommend checking our cancellation policy or contacting our customer service for assistance.</p>
        </div>
      </div>
      </div>
    </main>
  
    <script src="{% static 'faq.js' %}"></script>
  
{% endblock %}