{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vroom - Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form id="loginForm" class="form" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <h2> Login</h2>
      <div class="form-control">
        <label for="{{ form.username.id_for_label}}"><i class="fas fa-envelope"></i> Email:</label>
        <input type="email" name="{{ form.username.name }}" class="form-control" />
        <span class="text-danger">{{ form.username.errors }}</span>
      </div>
      <div class="form-control">
        <label for="{{ form.password1.id_for_label}}"><i class="fas fa-lock"></i> Password:</label>
        <input type="password" name="{{ form.password.name }}" class="form-control" />
        <span class="text-danger">{{ form.password.errors }}</span>
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Forgotten your Password? <a href="{% url 'password_reset' %}">Reset password</a></p>
    <p>Don't have an account? <a href="{% url 'signup' %}"> Sign up</a></p>
  </div>
  <!-- <script src="ls.js"></script> -->
</body>
</html>
