{% extends "base.html" %}
{% load static %}


{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k79vwqGsfqMVcSurYfZu6J362uvF0owHoaVAUkE/DunR0lCjxZKDtdRn2U6U6JUkyD/rEaUB8JpB5wDtmSgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  
  <title>Vroom Car Rental</title>
{% endblock %}

{% block content %}

  <div class="booking-container" style="background-image: url({% static 'lc.png' %});">
    <!-- <img src="{% static 'BMW.png' %}" alt="" srcset=""> -->
    <div class="container">
      <h2  >Better way to rent your car</h2>
      <div class="icon-container">
        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/854/854929.png" alt="Location"> 
            <p>Pick Locations</p>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/15239/15239482.png" alt="Handshake">
            <p>Easy Transactions</p>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/7371/7371879.png" alt="Car"> 
            <p>Choose Your Car</p>
        </div>
      </div>
    </div>
    
    <div class="vertical-container">
      <h2>Book a Car</h2>
    
      <form method="post" id="carForm">
        {% csrf_token %}
        <p class="input-label" >Pick Up Location</p>
        <select name="{{ form.location.name }}" id="id_location" class="location-dropdown">
          <option value="Kathmandu">Kathmandu</option>
          <option value="Pokhara">Pokhara</option>
        </select>
        <p class="input-label">Pick Up Date</p>
        <input type="text" name="{{ form.pickup_datetime.name }}" required="" id="id_pickup_datetime" class="date-input flatpickr">
    
        <p class="input-label">Drop Off Date</p>
        <input type="text" name="{{ form.dropoff_datetime.name }}" required="" id="id_dropoff_datetime" class="date-input flatpickr">
    
        <button type="submit">Rent a Car now</button>
      </form>

    </div>
  </div>


<!-- Featured Cars Section -->
<div class="featured-cars">
  <h2>Featured Cars</h2>
  <div class="car-list">
    {% for car in featured_cars %}
    <div class="car">
      <img src="{{ car.image.url }}" alt="{{ car.model }}" width="100"/>
      <h2>{{ car.model }}</h2>
      <h3>{{ car.type }}</h3>
      <p style="color: rgb(27, 27, 27);">Cost per hour : <strong>Rs {{ car.hourly_rate }}</strong></p>
      {% if car.total_price %}
          <p>Estimated : <strong>Rs {{ car.total_price }}</strong></p> 
      {% endif %}
      
      <div style="display: flex; justify-content: space-between; align-items: center; height: 50px;">
          <a href="{% url 'bookings' car.id  %}"><button type="button" style="background-color: #007bff; border-radius: 8px; padding: 8px; color: white;">Book Now</button></a>
          <!-- <p class="availability {{ car.availability|lower }}">{{ car.availability }}</p> -->
      </div>
  </div>
  {% endfor %}
  </div>
</div>

<div class="popular-rentals">
  <h2>Popular Rentals</h2>
  <div class="car-list">
    {% for car in popular_cars %}
    <div class="car">
      <img src="{{ car.image.url }}" alt="{{ car.model }}" width="100"/>
      <h2>{{ car.model }}</h2>
      <h3>{{ car.type }}</h3>
      <p style="color: rgb(27, 27, 27);">Cost per hour : <strong>Rs {{ car.hourly_rate }}</strong></p>
      {% if car.total_price %}
          <p>Estimated : <strong>Rs {{ car.total_price }}</strong></p> 
      {% endif %}
      
      <div style="display: flex; justify-content: space-between; align-items: center; height: 50px;">
          <a href="{% url 'bookings' car.id %}"><button type="button" style="background-color: #007bff; border-radius: 8px; padding: 8px; color: white;">Book Now</button></a>
          <!-- <p class="availability {{ car.availability|lower }}">{{ car.availability }}</p> -->
      </div>
  </div>
  {% endfor %}
  </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'Vroom.js' %}"></script>

{% endblock %}