<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k79vwqGsfqMVcSurYfZu6J362uvF0owHoaVAUkE/DunR0lCjxZKDtdRn2U6U6JUkyD/rEaUB8JpB5wDtmSgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Vroom Car Rental</title>

</head>
<body>

<!-- Navigation Bar -->
<div class="navbar">
  <div class="logo"> Vroom </div>
  <a href="#">Home</a>
  <a href="#">Cars</a>
  <a href="#">Pricing</a>
  <a href="#">About</a>
  <a href="#">Blogs</a>
  <a href="#">Contact</a>
  
  <div class="search"> 
    <input type="text" placeholder="Search.."> 
</div>
</div>


  <!-- <div class="bg-text">
    <h1>Easy-Fast-Reliable</h1>
  </div> -->

 <!-- Container for Content -->
 <div class="container">
  <h2  >Better way to rent your car</h2>

  <p></p>
  <div class="icon-container">
    <div>
        <img src="https://cdn-icons-png.flaticon.com/128/854/854929.png" alt="Location"> 
        <p>Pick Locations</p>
    </div>
    <div>
        <img src="https://cdn-icons-png.flaticon.com/128/15239/15239482.png" alt="Handshake">
        <p>Easy Transactions</p>
    </div>
    <div>
        <img src="https://cdn-icons-png.flaticon.com/128/7371/7371879.png" alt="Car"> 
        <p>Choose Your Car</p>
    </div>
</div>
</div>

<div class="vertical-container">
  <h3>Book a Car</h3>
  <p>Pick Up Location</p>
  <input type="text" placeholder="Enter Pick Up Location">
  <p>Pick Date</p>
  <input type="text" placeholder="Select Pick Up Date">
  <p>Drop Off Date</p>
  <input type="text" placeholder="Select Drop Off Date">
  <button>Rent a Car now</button>
</div>

<!-- Featured Cars Section -->
<div class="featured-cars">
  <h2>Featured Cars</h2>
  <div class="car-list">
    <div class="car">
      <img src="car1.jpg" alt="Car 1">
      <h3>Car Model 1</h3>
      <p>KJLSHDIJHASIDFJ</p>
    </div>
    <div class="car">
      <img src="car2.jpg" alt="Car 2">
      <h3>Car Model 2</h3>
      <p>jhDGVIJHDIJVH</p>
    </div>
    <!-- Add more featured cars as needed -->
  </div>
</div>


<div class="popular-rentals">
  <h2>Popular Rentals</h2>
  <div class="car-list">
    <div class="car">
      <img src="car3.jpg" alt="Car 3">
      <h3>Car Model 3</h3>
      <p>sdjohgouiasdgv</p>
    </div>
    <div class="car">
      <img src="car4.jpg" alt="Car 4">
      <h3>Car Model 4</h3>
      <p>saDIUOGHOIJSDHG</p>
    </div>
   
  </div>
</div>

<div class="blogs">
  <h2>Happy Clients</h2>
  <!-- Add blog posts here -->
</div>

<div class="customer-blogs">
  <h2>Customer Blogs</h2>
  <div class="blog-container">
    <!-- Add customer blog posts here -->
  </div>
</div>

</body>
</html>
