/* Styles for error message */
.errorMessage {
    color: red;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ffe6e6;
    display: none; /* Initially hidden */
}

/* Show the error message when it has content */
.errorMessage:not(:empty) {
    display: block;
}

/* Styles for error message */
.successMessage {
    color: rgb(114, 201, 0);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(114, 201, 0);
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    display: none; /* Initially hidden */
}

/* Show the error message when it has content */
.successMessage:not(:empty) {
    display: block;
}