body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .faqheader {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 50px;
  }
  
  h1 {
    margin: 0;
  }
  
  .faq-container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .faq-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.4s;
  }
  
  .accordion:hover {
    background-color: #ddd;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  
  .panel p {
    margin-top: 2;
  }
  
  .accordion::after {
    content: '\002B'; /* Plus symbol */
    font-size: 20px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active::after {
    content: "\2212"; /* Minus symbol */
}

  .active {
    display: block;
  }
  