*{
  font-family: "Lato", sans-serif;
}

.navbar {
  background-color: #007bff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 8px 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 55px;
}

.navbar .navbar-links {
  flex-grow: 1;
  /* display: flex; */
  /* justify-content: center; */
  margin-left: 220px;

}

.navbar .navbar-links a {
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar .navbar-links a:hover {
  background-color: #1264bb;
  border-radius: 10px;
}

.navbar .search {
  display: flex;
  align-items: center;
  padding: 10px 8px; 
  border-radius: 20px; 
  background-color: #4f8dea; 
}

.navbar .search input[type="text"] {
  flex-grow: 1; 
  border-radius: 20px; 
  padding: 0 10px;
  border: none; 
  color: #e2d9d9;
  background-color: transparent;
  outline: none;
}

.navbar .search .search-icon {
  background: none;
  border: none;
  color: white; 
  font-size: 15px; 
  cursor: pointer;
  margin-left: -30px; 
}

.navbar .search .search-placeholder {
  font-size: 18px; 
}

.navbar .login-button{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

.navbar .user-dropdown {
  position: relative;
  margin-right: 100px;
  background-color: #007bff;
  margin-top: 7px;
}

#dropdownButton {
  background-color: #007bff; 
  border: none; 
  outline: none;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.navbar .user-dropdown .dropbtn img {
  width: 30px;
  height: 30px;
}


.navbar .user-dropdown .dropdown-content {
  /* display: none;  */
  position: fixed;
  top: 50px;
  /* right: 0; */
  min-width: 160px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  background-color: rgb(255, 255, 255);
}

.navbar .user-dropdown .dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content{
  display: none;
}

@media screen and (min-width: 430px) {
  .navbar {
    padding: 8px 50px;
  }

  .navbar .logo,
  .navbar .navbar-links {
    padding: 0;
  }

  .navbar .search {
    display: flex; /* Show search on larger screens */
    margin-right: auto; /* Align search to the left */
  }
}



