
.navbar {
  background-color: #007bff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 8px 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 55px;
}

.navbar .navbar-links {
  flex-grow: 1;
  /* display: flex; */
  /* justify-content: center; */
  margin-left: 340px;

}

.navbar .navbar-links a {
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar .navbar-links a:hover {
  background-color: #1264bb;
  border-radius: 10px;
}

.navbar .search {
  display: flex;
  align-items: center;
  padding: 10px; 
  /* margin-right: 250px; */
}

.navbar .search input[type="text"] {
  border-radius: 20px;
  padding: 0 10px;
  border: 3px solid #7caaef;
  color: #e2d9d9;
  background-color: transparent;
  outline: none;
}

.navbar .login-button{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

.navbar .user-dropdown {
  position: relative;
  margin-right: 150px;
  background-color: #007bff;
  margin-top: 7px;
}

#dropdownButton {
  background-color: #007bff; 
  border: none; 
  outline: none;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  }

.navbar .user-dropdown .dropbtn img {
  width: 30px;
  height: 30px;
}


.navbar .user-dropdown .dropdown-content {
  /* display: none;  */
  position: fixed;
  top: 50px;
  /* right: 0; */
  min-width: 160px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  background-color: rgb(255, 255, 255);
}

.navbar .user-dropdown .dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content{
  display: none;
}