main{
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 80px;
}

h2{
    text-align: center;
    margin-top: 50px;

}

h3{
    text-align: left;
}

.car-slider {
    height: 500px;
}

.car-slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}

.title-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0 20px; 
}

.filter {
    float: right;
    padding: 0 10px;
}


.car-container {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.car {
    width: calc(23.33% - 20px); 
    margin: 15px; 
    padding: 20px; 
    background:  #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: transform 0.5s ease; 
}

.car:hover {
    transform: translateY(-8px); 
}

.car img {
    display: block;
    margin: 0 auto 10px; 
}

.car h2, .car h3, .car p {
    margin: 0; 
}

.car button {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.car button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.car .availability {
    padding: 8px;
    border-radius: 8px;
}

.car p{
    text-align: left;
}

.car button{
    margin: 0;
}

.car .availability {
    font-weight: bold;
    text-transform: capitalize;
}

.availability.available {
    color: rgb(31, 184, 0);
}

.availability.unavailable {
    color: red;
}


/* Add styles for the filter menu */
.filter-menu {
    display: none;
    min-width: 300px;
    background-color: #ffffff; /* Adjust color to match theme */
    padding: 15px;
    border: 1px solid #ddd; /* Adjust color to match theme */
    transition: all 0.8s ease; /* Add transition */
    margin-right: 20px; /* Add padding to adjust alignment */
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: 15px;
    font-family: Arial, sans-serif; /* Adjust font to match theme */
    color: #000000; /* Adjust color to match theme */
    border: 2px solid #0367d1;
    border-radius: 10px;
    height: 50%;
}

/* Add styles for the filter options */
.filter-menu label {
    padding: 15px;
    font-size: 1em;
}

/* Add styles for the parent container */
.content-container {
    display: flex;
    justify-content: space-between;
}

.car-container {
    flex-grow: 1;
    flex-shrink: 1;
    transition: flex-shrink 0.8s ease;
}
/* Responsive styles */

@media screen and (max-width: 430px) {
    .content-container {
       flex-direction: column;
    }
    /* Adjustments for smaller screens */
    .car h1 {
        font-size: 1em;
    }
    .car h3{
        font-size: 0.9em;
    }
    .car p{
        font-size: 0.8em;
    }
    .car-container .car{
        margin: 5px;
    }
    .car {
        width: 40%; 
    }
    .car-slider {
        height: 300px;
    }
    
    .car-slider img {
        height: 300px;
    }
    .car-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-grow: unset;
        flex-shrink: unset;
        transition: none;
    }
    .filter-menu {
        min-width: 150px;
        background-color: #f1f1f1;
        padding: 30px;
        border: 1px solid #ddd;
        transition: all 0.8s ease;
        font-family: Arial, sans-serif;
        color: #000000;
        border: 2px solid #0367d1;
        border-radius: 10px;
        height: 45%;
        margin-left: 15px;
    }
    
}