main{
    margin-top: 90px;
    padding-left: 30px;
}

.message{
    background-color: red;
    color: #ffffff;
    padding: 5px 0px;
}

.car-container {
    display: flex; 
}

.car-img {
    flex: 1;
}

.car-name {
    display: flex;
    align-items: center;
}

.favourite-button {
    margin-left: 45px;
    margin-bottom: 70px;
}

.specification-box {
    background-color: #f0f0f0; 
    border-radius: 10px; 
    padding: 20px; 
    padding-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 30px; 
    margin-left: 70px;
}

.specifications-container {
    flex: 1; 
    margin: 50px;
    justify-content: center;
}

.specifications-container h2 {
   margin-left: 120px;
}

.booking-container {
    flex: 1; 
}

.car-img{
    padding-top: 70px;
}

.car-img img {
    max-width: 100%; 
    border-radius: 5px;
}

.booking-container {
    border: 2px solid #ccc; 
    padding: 20px;
    margin-top: 60px; 
    height: 80%;
    margin-right: 30px;    
}

.specify{
    width: 200px;
    text-align: center;
}

.row{
    display:flex;
    justify-content: space-evenly;
}

.specify p{
    text-align: center;
}

p.model {
    font-size: 30px;
}

p.type{
    font-size: 20px;
}

.cost{
    font-size: 18px;
    font-weight: 700;
}

.booking-container{
    margin-left: 40px;
}

.booking-container h2{
    text-align: center  ;
}

.booking-container p{
    font-size: 15px;
}
.booking-container input{
    font-size: 15px;
}

.input-label {
    margin-bottom: 5px;
}

.date-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#estimated_price {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
