main{
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.message{
    background-color: red;
    color: #ffffff;
    padding: 5px 0px;
}

.car-container {
    display: flex; 
}

.car-img {
    flex-grow: 0; 
    margin-right: 20px; 
}

.car-info {
    flex-grow: 1;
}

.car-details {
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    margin-bottom: 20px;
}

.car-name {
    margin-bottom: 10px;
}

.cost {
    margin-top: 20px;
    margin-bottom: 20px;
}

.favourite-button {
    margin-right: 10px;
    margin-left: 10px; 
}

.specifications-container {
    flex: 1 ;  
    transform: translate(80%, -85%);
    width: 600px;
}

.specifications-info-container img {
    width: 30px; 
    height: 30px; 
    margin-top: -800px;
}

.specifications-container h2 {
    margin-left: 20px; 
}

.car-img{
    padding-top: 30px;
}

.car-img img {
    max-width: 100%; 
    border-radius: 5px;
}

.booking-container {
    border: 2px solid #ccc; 
    padding: 20px;
    margin-top: 30px; 
    height: 80%;
    max-width: 550px;
    flex-grow: 1;
    margin-left: 350px;   
}

.specify{
    width: 200px;
    text-align: center;
}

.row{
    display:flex;
    justify-content: space-evenly;
}

.specify p{
    text-align: center;
}

p.model {
    font-size: 30px;
}

p.type{
    font-size: 20px;
}

.cost{
    font-size: 18px;
    font-weight: 700;
}

.booking-container h2{
    text-align: center  ;
}

.booking-container p{
    font-size: 15px;
}
.booking-container input{
    font-size: 15px;
}

.input-label {
    margin-bottom: 5px;
}

.date-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#estimated_price {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Review Section */
.review-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 0;
}
.review-content {
    font-size: 16px;
    margin-bottom: 10px;
}
.review-user, .review-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}
.review-stars .fa-star {
    color: #ccc;
}
.review-stars .checked {
    color: #f4d03f;
}